---
---

$font-stack: "Neue Haas Grotesk", Helvetica, sans-serif;
$primary-text-color: #333;

//Brand Colours
$black: rgb(35, 31, 32);
$yellow: rgb(255, 228, 0);
$navy-blue: rgb(0, 62, 126);
$army-red: rgb(211, 17, 69);
$air-blue: rgb(19, 181, 234); 

body {
  font: 100% $font-stack;
  color: $primary-text-color;
}