<section class="cta-image-block">
  <div class="cta cta-text">
    <h3>Which corps is more your style?</h3>
    <p>
      Cadet Forces is made up of three distinct corps, each with its own
      flavour and unique activities. 
    <br>Which one suits you best?</p>
  </div>
  <figure class="cta cta-image">
    <img src="img/cta/navy.jpg" alt="Navy Cadets" />
    <figcaption>
      <a href="/scc.html">Navy Cadets</a>
      </figcaption>
  </figure>
  <figure class="cta cta-image" >
    <img src="img/cta/army.jpg" alt="Army Cadets" />
    <figcaption>
      <a href="/nzcc.html">Army Cadets</a>
    </figcaption>
  </figure>
  <figure class="cta cta-image" >
    <img src="img/cta/air.jpg" alt="Air Cadets" />
    <figcaption>
      <a href="/atc.html">Air Cadets</a>
    </figcaption>
  </figure>
</section>
