<section class="full-width cta-image-block">
  <div class="cta cta-text">
    <h3>Which corps is more your style?</h3>
    <p>
      Cadet Forces is made up of three distinct corps, each with its own
      flavour. Which one suits you best?
    </p>
  </div>
  <figure class="cta cta-image">
    <img src="img/cta/navy.jpg" alt="Navy Cadets" />
    <figcaption>Navy Cadets</figcaption>
  </figure>
  <figure class="cta cta-image" >
    <img src="img/cta/army.jpg" alt="Army Cadets" />
    <figcaption>Army Cadets</figcaption>
  </figure>
  <figure class="cta cta-image" >
    <img src="img/cta/air.jpg" alt="Air Cadets" />
    <figcaption>Air Cadets</figcaption>
  </figure>
</section>
