<footer>
    <section class="social">
        <h4>Follow us</h4>
        <a href="https://facebook.com"><img src="/img/fb.png" alt="facebook"></a>
        <a href="https://instagram.com"><img src="/img/ig.png" alt="instagram"></a>
        <a href="https://youtube.com"><img src="/img/yt.png" alt="youtube"></a>
    </section>
    <section class="contact">
        <h4>Get in touch</h4>
        <a href="/units">Find your nearest unit</a>
    </section>
    <section class="links">
        <h4>Useful links</h4>
        <a href="https://cadetnet.org.nz">CadetNet (members only)</a>
    </section>
</footer>