<nav class="main-nav">
    <div id="branding"><a href="/index.html"><img id="main-logo" src="/img/main-logo-white.png" alt="NZCF logo"></a></div>
    <ul>
        <li class="dropdown"><a href="/about.html">Who we are</a>
            <ul class="dropdown-content">
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/mission.html">Our Mission</a></li>
                <li><a href="/structure.html">NZCF Structure</a></li>
                <li><a href="/history.html">NZCF History</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="/training.html">What we do</a>
            <ul class="dropdown-content">
                <li><a href="/training.html">About Our Training</a></li>
                <li><a href="/cadetcourses.html">Cadet Courses</a></li>
                <li><a href="/overseas.html">Overseas Opportunities</a></li>
                <li><a href="/officercourses.html">Officer Courses</a></li>
            </ul>
        </li>
        <li><a href="/cadet-join.html">How to join</a></li>
        <li><a href="/supporters.html">Our supporters</a> </li>
        <li><a href="/faq.html">FAQ</a> </li>
        <li><a href="/contact.html">Contact us</a> </li>
    </ul>
</nav>