<nav id="main-nav" class="main-nav" aria-label="Main navigation menu">
    <div id="branding"><a href="/index.html"><img id="main-logo" src="/img/main-logo-white.png" alt="NZCF logo"></a></div>
    <ul class="main-menu clicky-menu no-js"> <!-- From CSS Tricks https://css-tricks.com/in-praise-of-the-unambiguous-click-menu/ -->
        <li class="dropdown">
            <button>Who we are</button>
            <ul class="dropdown-content">
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/mission.html">Our Mission</a></li>
                <li><a href="/structure.html">NZCF Structure</a></li>
                <li><a href="/history.html">NZCF History</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button>What we do</button>
            <ul class="dropdown-content">
                <li><a href="/training.html">About Our Training</a></li>
                <li><a href="/cadetcourses.html">Cadet Courses</a></li>
                <li><a href="/overseas.html">Overseas Opportunities</a></li>
                <li><a href="/officercourses.html">Officer Courses</a></li>
            </ul>
        </li>
        <li><a href="/cadet-join.html">How to join</a></li>
        <li><a href="/supporters.html">Our supporters</a> </li>
        <li><a href="/faq.html">FAQ</a> </li>
        <li><a href="/contact.html">Contact us</a> </li>
    </ul>
</nav>
