<nav class="main-nav">
    <div id="branding"><a href="/index.html"><img id="main-logo" src="/img/main-logo-white.png" alt="NZCF logo"></a></div>
    <ul>
        <li class="dropdown"><a href="/index.html">Who we are</a>
            <ul class="dropdown-content">
                <li><a href="/about.html">About Us</a></li>
                <li><a href="">Our Mission</a></li>
                <li><a href="">NZCF Structure</a></li>
                <li><a href="">Support Organisations</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="">What we do</a>
            <ul class="dropdown-content">
                <li><a href="">About Our Training</a></li>
                <li><a href="">Cadet Courses</a></li>
                <li><a href="">Duke of Edinburgh</a></li>
                <li><a href="">Overseas Opportunities</a></li>
                <li><a href="">Officer Courses</a></li>
            </ul>
        </li>
        <li><a href="/join.html">How to join</a></li>
        <li><a href="">Our supporters</a> </li>
        <li><a href="">FAQ</a> </li>
        <li><a href="">Contact us</a> </li>
    </ul>
</nav>