.cta-image-block {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 10em 0 10em -40vw;
}

.cta {
  flex: 0 0 25%;
  padding: 0.5em;
}

.cta-image {
  margin: 0;
}
