//Resets
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.clear-container {
    overflow: auto;
}