@font-face {
    font-family: 'Haas Grot Text Web';
    src: url("/fonts/NeueHaasGrotText-55Roman-Web.woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal; }
  
@font-face {
    font-family: 'Haas Grot Text Web';
    src: url("/fonts/NeueHaasGrotText-56Italic-Web.woff2");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal; }

@font-face {
    font-family: 'Haas Grot Text Web';
    src: url("/fonts/NeueHaasGrotText-65Medium-Web.woff2");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal; }

// @font-face {
//     font-family: 'Haas Grot Text Web';
//     src: url("/public/fonts/NeueHaasGrotText-66MediumItalic-Web.eot");
//     font-weight: 500;
//     font-style: italic;
//     font-stretch: normal; }

@font-face {
    font-family: 'Haas Grot Text Web';
    src: url("/fonts/NeueHaasGrotText-75Bold-Web.woff2");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal; }

// @font-face {
//     font-family: 'Haas Grot Text Web';
//     src: url("/public/fonts/NeueHaasGrotText-76BoldItalic-Web.eot");
//     font-weight: 700;
//     font-style: italic;
//     font-stretch: normal; }

$font-stack: "Haas Grot Text Web", "Helvetica Neue", Helvetica, sans-serif;


//Font variables

$primary-text-color: #333;
$paragraph-color: rgb(102, 102, 102);
$link-color: black;
$nav-color: rgb(180, 180, 180);

h1, h2, h3, h4 {
    margin: 1.4em 0 1.25em;
}

h2 {
    font-size: 1.9rem;
    font-weight: 500;
  }  

p {
    margin: 1.5em 0;
    color: $paragraph-color;
}

.lead {
    font-size: larger;
}

a, button {
    color: $link-color;
    font-weight: 500;
}