<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Social media card meta tags -->
    <meta property="og:title" content="New Zealand Cadet Forces">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cadetforces.org.nz/img/home/three-corps.jpg">
    <meta property="og:url" content="https://cadetforces.org.nz">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>New Zealand Cadet Forces</title>
</head>
<body>
  <!-- Pull in site navigation and page banner image (path passed from each page via front matter) -->
    {% include header.html %}
    <main class="narrow"> <!-- Creates a readable width for text on non-home pages -->
        {{ content }}
    </main>    
    {% include footer.html %}
    <script>
      // Netlify CMS boilerplate stuff
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>